.si{
    margin-top:40px;
    margin-left:90px;
}
.s{
    margin-left:125px;
    color:rgb(3, 16, 85);
}
.b
{
    cursor: default;
    margin-left:125px; 
  
}
.naf{
    margin-left: 400px;
    color:red;
}